<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h2>There are <a href="/admin/products"><%= @product_count %> products</a> in the database</h2>

<h2>There are <a href="/"><%= @category_count %> categories</a> in the database</h2>